
@{
    ViewData["Title"] = "About";
}

<h1>За проекта</h1>

<p>Здравейте, казвам се Стефан и това е моето уеб приложение <em>Express Services</em></p>

<p>В него може да преглеждате, добавяте, търсите и изтривате дадена доставка под формата на записи.</p>

<h2>Работа с доставки</h2>

<p>Преди да започнете да добавяте доставки, първо трябва да се регистрирате чрез бутона <em>Register</em>. След това чрез <em>Login</em> да влезете във вашия новосъздаден акаунт.</p>

<p>Имате възможност за смяна на паролата. След успешна регистрация, вече може да добавяте доставки чрез линка <em>Добави нова доставка</em></p>

<p>Атрибутите отговарят както следва:</p>
<ul>
	<li>Name - име на стока</li>
	<li>Choose a unit - избор на мерна единица</li>
	<li>Quantity - количество</li>
	<li>Price - единична цена</li>
	<li>Courier - доставчик</li>
	<li>Date - дата на доставка</li>
</ul>

<p><strong>Ако падащото меню <em>Choose a unit</em> ви е празно,</strong> върнете се към <em>Доставки</em> и направете подходяща мерна единица, спрямо стоката.</p>

<p>След като сте създали поне един запис, вече може да търсите по име на стоката чрез <em>Търсене</em></p>

<h2>Заключение</h2>

<p>Накратко, това са основните функционалности на проекта и за съжаление, не успях да включа, както се изисква и втората таблица <em>Потребители</em>, тъй като изпитах затруднения в създаването й.</p>