
@{
    ViewData["Title"] = "About";
}

<h1 class="mb-4">📦 DeliverMate Logistic</h1>

<h2>ℹ️ About the Project</h2>
<hr />
<p>This is a web application for managing deliveries using ASP.NET MVC 8.0 with Entity Framework.</p>

<h2>🚀 Features</h2>
<hr />
<ul>
    <li>Authentication with authorization using Identity Framework</li>
    <li>CRUD operations on Deliveries, Customers, Items and Units</li>
    <li>Search deliveries by item name or item description</li>
</ul>

<h2>📝 Usage</h2>
<hr />
<h3>Demo user</h3>
<p>You can use the following demo user to test the application:</p>
<ul>
    <li>Username: <code>admin@gmail.com</code></li>
    <li>Password: <code>Admin123#</code></li>
</ul>

<h2>📄 License</h2>
<hr />
<p>This project is licensed under the MIT License. See <a href="https://github.com/stekatag/CourierWebApp/blob/master/LICENSE.txt">license</a> for more information.</p>