@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 main-header">Welcome!</h1>
	<p>Вие сте в системата на Express Services.</p>
	
	<div>
		<a class="btn btn-primary btn-first" asp-area="" asp-controller="Deliveries" asp-action="Index">🚚 Deliveries
		</a>
		<a class="btn btn-primary" asp-area="" asp-controller="Deliveries" asp-action="ShowSearchForm">🔍 Search Delivery
		</a>
	</div>
	
	<div class="image-container">
		<img class="courier-img" src="courier.svg" alt="Courier"/>
	</div>
</div>
