@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 main-header">Добре дошли!</h1>
	<p>Вие сте в системата на Express Services.</p>

	<a class="btn btn-primary" asp-area="" asp-controller="Deliveries" asp-action="Index">Доставки</a>
	<div class="image-container">
		<img class="courier-img" src="courier.svg" alt="Courier"/>
	</div>
</div>
